.custom-popup {
  position: fixed; /* Positioned relative to the viewport */
  top: 50%; /* Vertically centered */
  left: 32%; /* Start at the left of the parent container */
  transform: translateY(-50%); /* Adjust for vertical centering */
  width: 60%;
  margin-left: auto; /* Automatically adjust horizontal positioning within parent */
  margin-right: auto; /* Automatically adjust horizontal positioning within parent */
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050; /* Above the backdrop */
  max-height: 90vh;
}

.backdrop {
  position: fixed; /* Covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040; /* Below the popup */
}

#scrollForm.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.1);
}
#scrollForm::-webkit-scrollbar {
  width: 0.2em;
}

#scrollForm::-webkit-scrollbar-thumb {
  background: #DC3545;
  border-radius: 1em;
  /* border-radius: inherit; */
  /* border-top-left-radius: 0%; */
  /* border-bottom-left-radius: 0%; */

}
#scrollForm::-webkit-scrollbar-track {
  background: #D3D3D3;
  border-radius: 1em;
  /* border-radius: inherit; */
  /* border-top-left-radius: 0%; */
  /* border-bottom-left-radius: 0%; */
}

input:focus {
  border-color: #DC3545 !important;
  outline: none !important;

}
input{
  outline: none !important;
}